@media screen and(max-width:425px){
  .header-bottom{
    display: none;
  }
  .footer-logo{
    font-size: 20px;
    border-bottom: 4px solid rgb(109, 219, 109);
    color: #fff;
    padding: 2px 0 0 10px;
    margin-bottom: 24px;
  }
  
}